# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Local dataset to exclude from Git
data/pad_ufes_20/
data/ham10000/
data/isic2019/

# Generated outputs
outputs/*
!outputs/.gitkeep
